header{
    text-align: center;
    font-size: 20px;
}

body{
    background: linear-gradient(90deg, rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);

}

div{
    border: 1px solid red;
}

.kepek{
    width: 450px;
    height: 250px;
}