p{
    font-size: 25px;
    line-height: 1.5;
}
body{
    font-family: Arial,  sans-serif;
    margin: auto;
   text-align: center; 
   background: linear-gradient(90deg, rgb(86, 6, 190) 1.1%, rgb(10, 245, 253) 130.5%);
color: black;
}
h1{
    text-align: center;
}